.contentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.jobDiv {
    display: flex;
    justify-content: space-evenly;
    gap: inherit;
    margin: 5px 0;
}

.jobCol {
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}